{% extends "baseScreenings.html"%}
{% load static %}
{% load crispy_forms_tags %}

    {%block title%}
    Modifica Proiezione
    {%endblock%}

    {%block style%}
    .container {
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 10px;
        margin-top: 20px;
    }
    body {
        background-color: #212529;
        color: #333;
    }
    h2 {
        color: #fff;
        text-align: center;
        margin-top: 20px;
    }
        {%endblock%}


{%block view%}
<h2>Modifica Proiezione</h2>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Salva modifiche</button>
        </form>
        <a href="{%url 'list_screenings'%}" class="btn btn-secondary mt-1">Indietro</a>
    </div>
{%endblock%}
