.container {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
body {
    background-color: #212529;
    color: #ffffff;
}
table {
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    margin-top: 20px;
}
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.pagination .page-item {
    display: inline;
}
.pagination .page-link {
    padding: 8px 12px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #000000;
    text-decoration: none;
}
.pagination .page-item:not(:last-child) .page-link {
    border-right: none; /* Rimuove lo spazio tra i bottoni */
}
.pagination .current {
    font-weight: bold;
    background-color: #007bff;
    color: #ffffff;
}
.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}